[submodule ".bash_it"]
	path = .bash_it
	url = git@github.com:srvg/bash-it.git
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/ctrlp-filetype.vim"]
	path = .vim/bundle/ctrlp-filetype.vim
	url = https://github.com/endel/ctrlp-filetype.vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/gotags"]
	path = .vim/bundle/gotags
	url = git@github.com:jstemmer/gotags.git
[submodule "/home/serge/.vim/bundle/vim-go"]
	path = /home/serge/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git@github.com:powerline/powerline.git
[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = git://github.com/srvg/vim-ansible-yaml.git
[submodule ".vim/bundle/yaml-vim"]
	path = .vim/bundle/yaml-vim
	url = git@github.com:ingydotnet/yaml-vim.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "src/util/ponymix"]
	path = /home/serge/src/util/ponymix
	url = https://github.com/falconindy/ponymix
[submodule "src/util/youtube-dl"]
	path = /home/serge/src/util/youtube-dl
	url = https://github.com/rg3/youtube-dl.git
[submodule "src/util/darkhttpd"]
	path = /home/serge/src/util/darkhttpd
	url = http://unix4lyfe.org/git/darkhttpd
[submodule "src/util/gitignore"]
	path = /home/serge/src/util/gitignore
	url = git@github.com:srvg/gitignore.git
[submodule "src/util/rerandr3"]
	path = /home/serge/src/util/rerandr3
	url = git@github.com:srvg/rerandr3.git
[submodule "src/util/nmcli-dmenu"]
	path = src/util/nmcli-dmenu
	url = https://github.com/firecat53/nmcli-dmenu.git
[submodule "src/util/playerctl"]
	path = src/util/playerctl
	url = https://github.com/acrisci/playerctl
[submodule "src/util/docker-gc"]
	path = src/util/docker-gc
	url = git@github.com:srvg/docker-gc.git
