[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml
[submodule ".vim/nobundle/vim-powerline"]
	path = .vim/nobundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/nobundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/ctrlp-filetype.vim"]
	path = .vim/bundle/ctrlp-filetype.vim
	url = https://github.com/endel/ctrlp-filetype.vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
