export CLOUDSDK_ACTIVE_CONFIG_NAME=mateco
export USE_GKE_GCLOUD_AUTH_PLUGIN=True
export GOOGLE_APPLICATION_CREDENTIALS=/home/serge/.config/gcloud/legacy_credentials/serge.vanginderachter@mateco.eu/adc.json
