[Desktop Entry]
Name=Alacritty
GenericName=Terminal
Comment=
TryExec=alacritty
Exec=alacritty %F
Terminal=false
Type=Application
Keywords=Terminal;
Icon=terminal
Categories=Utility;
StartupNotify=false
