#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/opt/brave.com/brave/brave-browser --user-data-dir=/home/serge/.config/brave-browser/profiles/radio --profile-directory=Default --app-id=pjkljhegncpnkpknbcohdijeoejaedia
Icon=brave-pjkljhegncpnkpknbcohdijeoejaedia-Default
NoDisplay=true
StartupWMClass=crx_pjkljhegncpnkpknbcohdijeoejaedia
