[Desktop Entry]
Version=1.0
Type=Application
Name=Browser Picker
GenericName=Web Browser
Comment=Pick which browser/profile to open a URL with
Exec=/home/serge/bin/browser-picker %u
Icon=applications-internet
Terminal=false
DBusActivatable=false
StartupNotify=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;x-scheme-handler/about;x-scheme-handler/unknown;
