#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome Remote Desktop
Exec=/opt/google/chrome/google-chrome --user-data-dir=/home/serge/.config/google-chrome/profiles/google "--profile-directory=Profile 1" --app-id=efmjfjelnicpmdcmfikempdhlmainjcb
Icon=chrome-efmjfjelnicpmdcmfikempdhlmainjcb-Profile_1
StartupWMClass=crx_efmjfjelnicpmdcmfikempdhlmainjcb
