#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/google/chrome/google-chrome --user-data-dir=/home/serge/.config/google-chrome/profiles/google "--profile-directory=Profile 1" --app-id=blpcfgokakmgnkcojhhkbfbldkacnbeo
Icon=chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Profile_1
NoDisplay=true
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
