[Desktop Entry]
Type=Application
Name=GitHub Copilot
Exec="/home/serge/tmp/.mount_GitHubNlILai/usr/bin/github"
NoDisplay=true
Icon=/home/serge/tmp/.mount_GitHubNlILai/usr/lib/GitHub Copilot/icons/128x128.png
