[Desktop Entry]
Type=Application
Version=1.4
Name=Mattermost Autops
Comment=Mattermost is an open source, self-hosted Slack-alternative
Keywords=;
Categories=GTK;;
Icon=FFPWA-01KVT7Q7VM3N7VVAN3TEKRC5GZ
Exec=/usr/bin/firefoxpwa site launch 01KVT7Q7VM3N7VVAN3TEKRC5GZ --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KVT7Q7VM3N7VVAN3TEKRC5GZ
