[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
X-MultipleArgs=false
Icon=firefox
#StartupWMClass=firefox-release
DBusActivatable=false
Categories=GNOME;GTK;Network;WebBrowser;
StartupNotify=true
Actions=new-window;new-private-window;open-profile-manager;
Exec=/usr/bin/firefox %u
Name=Local Firefox
GenericName=Firefox
Comment=Local Bin Web Browser Instance

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/firefox %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/bin/firefox %u
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
TryExec=/usr/bin/firefox
