[Desktop Entry]
Type=Application
Name=GitHub Copilot
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/gh;x-scheme-handler/ghapp;x-scheme-handler/github-app
Exec="/home/serge/scratch/GitHub-Copilot-linux-x64.AppImage" %u
