[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Hubstaff
GenericName=Hubstaff
Comment=Hubstaff
Icon=/home/serge/Hubstaff/resources/Hubstaff.png
Exec="/home/serge/Hubstaff/HubstaffClient.bin.x86_64"
Categories=Utility;
Path=/home/serge/Hubstaff

