[Desktop Entry]
Name=GoLand 2024.1.5
Exec="/home/serge/Documents/Applications/jetbrainstoolbox/apps/goland/bin/goland.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/serge/Documents/Applications/jetbrainstoolbox/apps/goland/bin/goland.svg
Comment=An IDE for Go and Web
StartupWMClass=jetbrains-goland
StartupNotify=true
