[Desktop Entry]
Name=GoLand 2024.2
Exec="/home/serge/.local/share/JetBrains/Toolbox/apps/goland/bin/goland" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/serge/.local/share/JetBrains/Toolbox/apps/goland/bin/goland.svg
Comment=An IDE for Go and Web
StartupWMClass=jetbrains-goland
StartupNotify=true
