[Desktop Entry]
Name=KeePass 2
GenericName=Keepass Password Manager
Keywords=Password;Security
Exec=keepass2 %F
Terminal=false
Icon=keepassx
Type=Application
Categories=GTK;GNOME;Utility;
StartupNotify=true
NoDisplay=false
