#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft Teams (PWA)
MimeType=x-scheme-handler/web+msteams
Exec=/opt/microsoft/msedge/microsoft-edge "--profile-directory=Profile 3" --app-id=cifhbcnohmdccbgoicgdjpfamggdegmo "--app-url=https://teams.microsoft.com/v2/?clientType=pwa" %U
Icon=msedge-cifhbcnohmdccbgoicgdjpfamggdegmo-Profile_3
StartupWMClass=crx__cifhbcnohmdccbgoicgdjpfamggdegmo
