[Desktop Entry]
Name=OpenCode Studio
Exec=/home/serge/.local/share/mise/installs/node/25.6.1/bin/node /home/serge/.local/lib/npm/lib/node_modules/opencode-studio-server/cli.js %u
Type=Application
Terminal=true
MimeType=x-scheme-handler/opencodestudio;
