[Desktop Entry]
Name=OpenCode Studio
Exec=/home/serge/.nvm/versions/node/v24.7.0/bin/node /home/serge/.nvm/versions/node/v24.7.0/lib/node_modules/opencode-studio-server/cli.js %u
Type=Application
Terminal=true
MimeType=x-scheme-handler/opencodestudio;
