[Desktop Entry]
Encoding=UTF-8
Name=Adobe Acrobat Reader DC
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Adobe Acrobat Reader DC" %F
Icon=/home/serge/.PlayOnLinux//icones/full_size/Adobe Acrobat Reader DC
Name[fr_FR]=Adobe Acrobat Reader DC
StartupWMClass=AcroRd32.exe
Categories=Office;Viewer;
