[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=google-chrome %f
Name=google-chrome
Comment=Custom definition for google-chrome
