[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=$HOME/Documents/Applications/firefox/firefox-bin %u
Name=Local Firefox
GenericName=Local Bin Web Browser Instance
Comment=Custom definition for Firefox
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;

[Desktop Action new-window]
Name=New Window
Exec=$HOME/bin/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=$HOME/bin/firefox --private-window %u
