#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=yEd Graph Editor
Exec="/home/serge/Applications/yEd/yEd"
Icon=/home/serge/Applications/yEd/.install4j/yEd.png
Categories=Application;
